<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Proveedor Categoría</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>Editar Proveedor Categoría</h1>
        <form th:action="@{/proveedor_categoria/editar_proveedor_categoria/{id}(id=${proveedorCategoria.id})}" th:object="${proveedorCategoria}" method="post">
            <input type="hidden" th:field="*{id}" /> <!-- Campo oculto para el ID -->
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Proveedor Categoría</button>
            <a th:href="@{/proveedor_categoria/}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
