<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Tipos de Usuario</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mt-5">
        <h1>Listado de Tipos de Usuario</h1>
        <a href="/tiposusuarios/registrar_tipousuario" class="btn btn-primary mb-3">Crear Nuevo Tipo de Usuario</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
					<th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tipoUsuario : ${lista_tipousuario}">
                    <td th:text="${tipoUsuario.id}"></td>
					<td th:text="${tipoUsuario.nombre}"></td>
                    <td th:text="${tipoUsuario.descripcion}"></td>
                    <td>
                        <a th:href="@{/tiposusuarios/detalle_tipousuario/{id}(id=${tipoUsuario.id})}" class="btn btn-info">Detalles</a>
                        <a th:href="@{/tiposusuarios/editar_tipousuario/{id}(id=${tipoUsuario.id})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{delete/{id}(id=${tipoUsuario.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
