<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Productos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mt-5">
        <h1>Listado de Productos</h1>
        <a href="/productos/registrar_producto" class="btn btn-primary mb-3">Crear Nuevo Producto</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${lista_productos}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.descripcion}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.cantidad}"></td>
                    <td>
                        <img th:src="${producto.urlImagen}" alt="Imagen de ${producto.nombre}" style="width: 100px; height: auto;"/>
                    </td>
                    <td th:text="${producto.estadoProducto.descripcion}"></td>
                    <td th:text="${producto.proveedor.nombre}"></td>
                    <td>
                        <a th:href="@{/producto/editar_producto/{id}(id=${producto.id})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{delete/{id}(id=${producto.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
