<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Proveedores</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mt-5">
        <h1>Listado de Proveedores</h1>
        <a href="/proveedores/registrar_proveedor" class="btn btn-primary mb-3">Crear Nuevo Proveedor</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proveedor : ${lista_proveedores}">
                    <td th:text="${proveedor.id}"></td>
                    <td th:text="${proveedor.nombre}"></td>
                    <td th:text="${proveedor.direccion}"></td>
                    <td th:text="${proveedor.telefono}"></td>
                    <td th:text="${proveedor.proveedorCategoria.nombre}"></td>
                    <td>
                        <a th:href="@{/proveedor/detalle_proveedor/{id}(id=${proveedor.id})}" class="btn btn-info">Detalles</a>
                        <a th:href="@{/proveedor/editar_proveedor/{id}(id=${proveedor.id})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{delete/{id}(id=${proveedor.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
